.form-label {
    padding: 10px;
}

.input, .input-txt {
    width: 100%;
}

.input-txt {
    height: 200px;
    margin-bottom: 20px;
}

.input-btn {
    background-color: #DED7B9;
    color: black;
    border: none;
    border-radius: 5px;
    height: 150%;
    transition: 0.3s;
    margin-top: -20px;
}

.input-btn:hover {
    background-color: #555555;
    color: white;
}

.sent-successful, .sent-error {
    display: none;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.sent-successful {
    background-color: #50C878;
}

.sent-error {
    background-color: #CF142B;
}

.title-block {
    background-color: #be50c8;
    padding-left: 5px;
    font-weight: 700;
    margin: 10px;
}

.info-block {
    border-left-width: 3px;
    border-color: darkcyan;
    background-color: aqua;
    padding-left: 10px;
    margin-bottom: 40px;
}

.short {
    padding-right: 40%;
}

.myText {
    border-width: 5px;
    border-color: darkcyan;
}

.form-submit {
    background: darkcyan;
    border-radius: 4px;
    padding: 1px 20px;
    margin-left: calc(100% - 105px);
    margin-bottom: 15px;
}