.text {
    color: #DED7B9;
    padding: 22px 20px;
}

.container-fluid {
    padding: 10px;
    background-color: black;
    bottom: 0px;
}

.follow-title {
    justify-content: center;
}

.icons {
    padding: 8px 10px;
}

a {
    text-decoration: none;
    color: #DED7B9;
}
