* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

.row {
    height: 100%;
    padding-bottom: 35px;
}

main {
    padding: 10px 0px;
}

.about-paragraph {
    font-size: 20px;
    font-weight: 400;
}

.about-row {
    flex-direction: row-reverse;
}

.bold {
    font-style: normal;
    font-weight: 800;
}

.our-goals {
    padding-top: 100px;
}

.text-center {
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    display: block;
}
