<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Audrey's Thesis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Historical Markup</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
<br/>
<br/>
    <div class="container">
        <div class="alert alert-info" role="info">
            <h3>How it works</h3>
            <hr>
            <p>Paste your plain text into the box below. Click submit when you are ready. This may take a few minutes, especially if you are submitting a long text.</p>
            <p>Once your markup is ready, you will be able to make any edits and download the output.</p>
        </div>
    </div>

    <div class="container">
        <form method="POST" action="/">
            <div class="form-group row">
                <label class="col-sm-2">Title</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" name="teiHeaderTitle">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Author</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" name="teiHeaderAuthor">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Editor</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" name="teiHeaderEditor">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Publisher</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" name="teiHeaderPublisher">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Publisher Address</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" name="teiHeaderPublisherAddress">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Publication Date</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control form-control-sm" name="teiHeaderPublicationDate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">License <span class="badge badge-info">New</span></label>
                <div class="col-sm-6">
                    <select type="text" class="form-control form-control-sm" name="teiHeaderLicense">
                      <option value="CC_Attr_NonComm">Creative Commons Attribution-NonCommercial 4.0 International</option>
                      <option value="CC_Attr">Creative Commons Attribution 4.0 International</option>
                      <option value="CC_Attr_ShareAlike">Creative Commons Attribution-ShareAlike 4.0 International</option>
                      <option value="CC_Attr_NonComm_ShareAlike">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Source Description <span class="badge badge-info">New</span></label>
                <div class="col-sm-10">
                    <textarea type="text" rows="2" cols="5" class="form-control"  name="teiHeaderSourceDescription"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Project Description <span class="badge badge-info">New</span></label>
                <div class="col-sm-10">
                    <textarea type="text" rows="2" cols="5" class="form-control"  name="teiHeaderProjectDescription"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Your Text <font color="red">* </font></label>
                <div class="col-sm-10">
                    <textarea type="text" rows="5" cols="5" class="form-control"  name="rawText" required="true"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="reset" class="btn btn-primary"> Clear</button>
                    <button type="submit" class="btn btn-info"> Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>