label {
    padding: 10px;
}

button {
    margin: 15px;
}

.alert {
    text-align: center;
    padding: 5px;
    background: #79C879;
    color: white;
    margin-bottom: 10px;
    display: none;
}

.header {
    font-family: 'Special Elite', sans-serif, serif;
}

.mail {
    color: #B1A994;
}

.mail:hover {
    color: #45200a;
    cursor: pointer;
}