.faq-text {
  /* display: none; */
  margin-top: 30px;
}

.dropdown_text {
  display: none;
}


.dropdown {
  height: 50px;
}

.dropdown .text {
  padding: initial;
  color: black;
}

.ui.header:first-child {
  margin: 20px;
}