* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div .title-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 10px;
    width: 100%;
}

.card-container {
    padding: 50px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.each-card {
   padding-left: 10px;
   padding-bottom: 30px;
}

.each-card .top-card {
    margin: 20px;
    display: flex;
    position: relative;
}

.each-card .top-card .bottom-card {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 90px;
    top: 70%;
    left: 17%;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.each-card .top-card .bottom-card:hover, 
    .each-card .top-card .bottom-card:active {
    background-color: #E5D3B3;
    transform: translateY(-10px);
    cursor: pointer;
    transition: .4s ease-in-out;

}

p {
    padding: 20px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.social-link-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.icon-link {
    padding:10px;
}

.cc-info {
    display: flex;
    flex-direction: column;
}

.cc-image {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.cc-link {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

a:hover {
    color: rgba(119, 101, 63, 0.8);
}
/*  Media queries to make content accessible to  
    screens of all sizes */

@media (min-width: 0px) and (max-width: 597px) {

    div .title-box {
        display: flex;
        justify-content: center;
    }

    div .image-box {
        background: linear-gradient(90deg, 
            rgba(204, 196, 183, 0.8) 0%, 
            rgba(119, 101, 63, 0.8) 100%),
            url('./img/banner_img_landing.jpeg');
        background-size: cover;
        height: 200px;
    }

    div .header-box {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1rem;
        text-align: center;
        padding: 4rem;
    }

    div.cc-image img {
        width: 20%;
    }

    a:link {
        color: bisque;
        font-size: 8px;
    }
}

@media (min-width: 598px) {

    div .title-box {
        display: flex;
        justify-content: center;
    }

    div .image-box {
        background: linear-gradient(90deg, 
            rgba(204, 196, 183, 0.8) 0%, 
            rgba(119, 101, 63, 0.8) 100%),
            url('./img/banner_img_landing.jpeg');
        background-size: cover;
        height: 250px;
    }

    div .header-box {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1rem;
        text-align: center;
        padding: 6rem;
    }

    div.cc-image img {
        width: 12%;
    }

    a:link {
        color: bisque;
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    div .title-box {
        display: flex;
        justify-content: center;
    }

    div .image-box {
        background: linear-gradient(90deg, 
            rgba(204, 196, 183, 0.8) 0%, 
            rgba(119, 101, 63, 0.8) 100%),
            url('./img/banner_img_landing.jpeg');
        background-size: cover;
        height: 300px;
    }

    div .header-box {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1rem;
        text-align: center;
        padding: 8rem;
    }

    div.cc-image img {
        width: 10%;
    }

    a:link {
        color: bisque;
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    div .title-box {
        display: flex;
        justify-content: center;
    }

    div .image-box {
        background: linear-gradient(90deg, 
            rgba(204, 196, 183, 0.8) 0%, 
            rgba(119, 101, 63, 0.8) 100%),
            url('./img/banner_img_landing.jpeg');
        background-size: cover;
        height: 350px;
    }

    div .header-box {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 10rem;
    }

    div.cc-image img {
        width: 8%;
    }

    a:link {
        color: bisque;
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    div .title-box {
        display: flex;
        justify-content: center;
    }

    div .image-box {
        background: linear-gradient(90deg, 
            rgba(204, 196, 183, 0.8) 0%, 
            rgba(119, 101, 63, 0.8) 100%),
            url('./img/banner_img_landing.jpeg');
        background-size: cover;
        height: 400px;
    }

    div .header-box {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 10rem;
    }
    
}