* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.eba-font {
    color: black;
    text-decoration: none;
    font-size: 31.5px;
    font-family: 'Special Elite', sans-serif, serif;
}

.eba-font:hover {
    color: #555555;
}

.fa-caret {
    display: inline;
    margin-left: -3px;
}

.dd-toggle {
    color: black;
}

main.content {
    flex: 1 0 auto;
    padding: 10px
}

.footer {
    min-height: 100%;
}
