.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.title-link {
    margin-left: 10px;
}

.eba-font {
    color: black;
    text-decoration: none;
    font-size: 31.5px;
    font-family: 'Special Elite', sans-serif, serif;
}

.eba-font:hover {
    color: #555555;
}

.nav-bar {
    margin-bottom: -10px;
    background-color: #DED7B9;
}

.fa-caret {
    display: inline-block;
    margin: 5px;
}

.dd-toggle {
    color: black;
}