.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.title-link {
    color: gray;
}

.title-link:hover {
    color: rgba(119, 101, 63, 0.8);
}

p {
    font-size: 31.5px;
    font-family: 'Special Elite', sans-serif, serif;
}

.navbar {
    margin-bottom: -9px;
}