.text {
    color: #DED7B9;
    padding-top: 5px;
}

.container-fluid {
    padding: 10px;
    background-color: black;
}

.footer {
    background: #333333;
    height: 175px;
    bottom: 0px;
}

.icons {
    padding-bottom: 10px;
}