
.cc-image {
    display: flex;
    justify-content: center;
    padding: 15px;
}

@media (min-width: 0px) and (max-width: 597px) {

    div.cc-image img {
        width: 20%;
    }
}

@media (min-width: 598px) {

    div.cc-image img {
        width: 16%;
    }
}

@media (min-width: 768px) {

    div.cc-image img {
        width: 14%;
    }
}

@media (min-width: 992px) {

    div.cc-image img {
        width: 8%;
    }
}