.nav-bar {
    margin: 10px;
}

div.title {
    font-family: 'Special Elite', sans-serif, serif;
    font-size: 31.5px;
}

div.inline-block {
    display: inline-block;
    padding-right: 25px;
    margin-top: -35px;
}

.nav {
    margin-left: 175px;
}

.fa-icon {
    margin-left: 5px;
}

button {
    border: none;
    background: none;
}

@media (max-width: 1200px) {
    div.title {
        font-size: 26px;
    }

    div.inline-block {
        font-size: 14px;
        padding-right: 20px;
    }

    .nav {
        margin-left: 150px;
    }
}